<html>
  <body>
  <p>
    One of your friends, <%= @sender_name %>,
    thinks you'll like an event we have listed.
  </p>

  <p>
    Come check all the information about <%= @event.title %> at 
    <%= url_for :only_path  => false, 
                :host       => "eventalicio.us",
                :controller => "events",
                :action     => "show",
                :id         => @event  %>
  </p>
  </body>
</html>
