<%= error_messages_for :user %>

<p><label>Login:<br />
<%= text_field :user, :login %></label></p>

<p><label>Email:<br />
<%= text_field :user, :email %></label></p>

<p><label>Password:<br />
<%= password_field :user, :password %></label></p>

<p><label>Password confirmation:<br />
<%= password_field :user, :password_confirmation %></label></p>
