<h1>Please Login</h1>

<% form_tag :action => 'login' do %>
  <p><label>Login:<br />
  <%= text_field_tag :login %></label></p>

  <p><label>Password:<br />
  <%= password_field_tag :password %></label></p>

  <p>
    <%= submit_tag 'Login' %>
  </p>
<% end %>